<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>19/07/12 18:29:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.reflect.Method)[pri:0, instance:com.company.tests.Acceptance@5442a311]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/07/12 18:29:30</td>   <td>22182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Acceptance.ACC_CreateAcceptance()[pri:0, instance:com.company.tests.Acceptance@5442a311]">ACC_CreateAcceptance</td> 
  <td>main@504527234</td>   <td></td> </tr>
</table>
