<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5e4af">  <td>19/07/12 19:26:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.reflect.Method)[pri:0, instance:com.company.tests.Acceptance@5d3411d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@591137559</td>   <td></td> </tr>
<tr bgcolor="b97d75">  <td>19/07/12 19:26:31</td>   <td>23049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Acceptance.ACC_CreateAcceptance()[pri:0, instance:com.company.tests.Acceptance@5d3411d]">ACC_CreateAcceptance</td> 
  <td>main@591137559</td>   <td></td> </tr>
<tr bgcolor="b97d75">  <td>19/07/12 19:26:31</td>   <td>23053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Acceptance.ACC_CreateAcceptancewithNonExistingAWB()[pri:0, instance:com.company.tests.Acceptance@5d3411d]">ACC_CreateAcceptancewithNonExistingAWB</td> 
  <td>main@591137559</td>   <td></td> </tr>
</table>
